<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <title>About</title>
</head>

  <body class="d-flex h-100 text-center text-black bg-light">
    
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0">Spam Detector</h3>
          <nav class="nav nav-masthead justify-content-center float-md-end">
            <a class="nav-link active" aria-current="page" href="Website.html">Home</a>
            <a class="nav-link" href="#">Features</a>
            <a class="nav-link" href="#">Contact</a>
          </nav>
        </div>
      </header>
    
      <main class="px-3">
        <u><b><h1>About our page.</h1></b></u>
        <br>
        <h4>Welcome to Spam Detector</h3>
          <hr>
        <p>We will provide you with some of the best features to detect spam. Since email is commonly used as a way to exploit users and their data, spam filtering has grown in importance and relevance. Organizations must utilize a spam filter to reduce the risk of users clicking on something they shouldn't, in turn keeping their internal data shielded from a cyber attack. </p>
          Once spam hits your email inbox, you become a target. When it comes to technology, humans tend to be the weakest link in most IT security situations. Attackers will constantly try to trick them, manipulating users to click on things that they shouldn't through a variety of methods. Oftentimes, these "tricks" are via email, as email platforms can target a very large number of people and is a very "budget-friendly" attack. If users happen to click the wrong thing within the spam email, bullseye, internal data then becomes exposed. <br><hr>
          <h4>HERE'S HOW IT WORKS!</h4> <br> Spam filtering uses a filtering solution within your email run by a set of procedures that help determine which incoming emails are spam and which are safe for the user to open. According to Spamhaus, the United States is ranked #1 among which countries have the most live spam issues. Spam is getting sent to users, and it's getting sent a lot.

          The main types of filtering analyzes the source of the email, whether the source of the email has had any complaints or has ever been blacklisted, the content of the email, and subscriber engagement. All of this is tracked and sorted before hitting a users' inbox. Spam filtering solutions can be hosted in several ways to support organizations, whether it's through a cloud service, on-premise technology, or software installed on organizational computers that can collaborate with email platforms. 
        </p>
        <hr>
        <p>
          <h4>WHY IT'S IMPORTANT?</h4>
          Implementing spam filtering is extremely important for any organization. Not only does spam filtering help keep garbage out of email inboxes, it helps with the quality of life of business emails because they run smoothly and are only used for their desired purpose. Spam filtering is essentially an anti-malware tool, as many attacks through email are trying to trick users to click on a malicious attachment, asking them to supply their credentials, and much more.

Related: Be Prepared to Fight Cybercrime With User Training

According to Radicati Research Group Inc., email spam costs businesses up to $20.5 billion each year, and that number will only continue to rise. Spam filtering prevents these spam messages from ever entering an inbox in the first place, keeping organizations from adding to the growing statistic of lost revenue.

Graymail. Another important aspect of spam filtering is the ability to eliminate "graymail" from user inboxes as well. Graymail is an email that a user has previously opted to receive, but doesn't really want or need in their inbox. Graymail isn't considered spam, as these emails aren't used to infiltrate an organization. What is considered graymail is determined by the actions of the user over time, and spam filtering platforms will pick up on that to determine what is or is not wanted within an inbox. A good spam filtering platform lets users adjust to block a lot of graymail, rather than having to manually unsubscribe from every single one.
        </p>
      </main>
    
      <footer class="page-footer font-small unique-color-dark">
        <div
          style="
            background-color: #0d0347;
            color: aliceblue;
            text-transform: uppercase;
          "
        >
          <div class="container">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
              <!-- Grid column -->
              <div
                class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0"
              >
                <h6 class="mb-0">Get your message checked for spam.</h6>
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-6 col-lg-7 text-center text-md-right">
                <!-- Facebook -->
                <a class="fb-ic">
                  <i class="fab fa-facebook-f white-text mr-4"> </i>
                </a>
                <!-- Twitter -->
                <a class="tw-ic">
                  <i class="fab fa-twitter white-text mr-4"> </i>
                </a>
                <!-- Google +-->
                <a class="gplus-ic">
                  <i class="fab fa-google-plus-g white-text mr-4"> </i>
                </a>
                <!--Linkedin -->
                <a class="li-ic">
                  <i class="fab fa-linkedin-in white-text mr-4"> </i>
                </a>
                <!--Instagram-->
                <a class="ins-ic">
                  <i class="fab fa-instagram white-text"> </i>
                </a>
              </div>
              <!-- Grid column -->
            </div>
            <!-- Grid row-->
          </div>
        </div>
  
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5">
          <!-- Grid row -->
          <div class="row mt-3">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <!-- Content -->
              <h6 class="text-uppercase font-weight-bold">Spam Detector</h6>
              <hr
                class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px"
              />
              <p>
                Spam filters detect unsolicited, unwanted, and virus-infested email (called spam) and stop it from getting into email inboxes.
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
             
              <h6 class="text-uppercase font-weight-bold">Products</h6>
              <hr
                class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px"
              />
              <p>
                <a href="#!">MDBootstrap</a>
              </p>
              <p>
                <a href="#!">MDWordPress</a>
              </p>
              <p>
                <a href="#!">BrandFlow</a>
              </p>
              <p>
                <a href="#!">Bootstrap Angular</a>
              </p>
            </div> -->
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Useful links</h6>
              <hr
                class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px"
              />
              <p>
                <a href="https://www.google.com/">Google</a>
              </p>
              <p>
                <a href="#!">Become an Affiliate</a>
              </p>
              <p>
                <a href="#!">Shipping Rates</a>
              </p>
              <p>
                <a href="#!">Help</a>
              </p>
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
              <!-- Links -->
              <h6 class="text-uppercase font-weight-bold">Contact</h6>
              <hr
                class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px"
              />
              <p><i class="fas fa-home mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill" viewBox="0 0 16 16">
                  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                </svg>
              </i> Mumbai, NY 10012, India</p>
              <p><i class="fas fa-envelope mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                </svg>
              </i> info@example.com</p>
              <p><i class="fas fa-phone mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                </svg>
              </i> + 01 234 567 88</p>
              <p><i class="fas fa-print mr-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-printer-fill" viewBox="0 0 16 16">
                  <path d="M5 1a2 2 0 0 0-2 2v1h10V3a2 2 0 0 0-2-2H5zm6 8H5a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1z"/>
                  <path d="M0 7a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2h-1v-2a2 2 0 0 0-2-2H5a2 2 0 0 0-2 2v2H2a2 2 0 0 1-2-2V7zm2.5 1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1z"/>
                </svg>
              </i> + 01 234 567 89</p>
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->
  
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">
          © 2021 Copyright:
          <a href="https://WebXster.com/"> SpamDetector.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    </div>
</body>
</html>